html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark; /* both supported */
}

body {
  --text-color: #222;
  --bkg-color: #fff;
  --btn-color: #157be0;
  --btn-hover-color: #6ea8e2;
  --btn-text-color: #fff;
  --code-bkg-color: #f2f1f1;
  --nav-bkg-color: var(--bkg-color);
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #ddd;
    --bkg-color: #121212;
    --btn-text-color: #ddd;
    --code-bkg-color: #272822;
    --nav-bkg-color: var(--code-bkg-color);
  }
}

body {
  background: var(--bkg-color);
}

.playground-container {
  background: var(--code-bkg-color);
}

* {
  color: var(--text-color);
}
h1 a {
  color: var(--text-color);
}

.background {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.column-content-sm {
  padding: 0 10px;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
.column-content-md {
  padding: 0 10px;
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
.padded {
  padding: 10px;
}

.text-center {
  text-align: center;
}

.button .block {
  display: block;
  width: auto;
}
.button, input[type='submit'] {
  font-size: medium;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: var(--btn-text-color);
  padding: 10px;
  min-width: 80px;
  background-color: var(--btn-color);
  border: none;
  border-radius: 5px;
  /* transition: background-color .5s, color .5s, box-shadow .5s; */
}
.button:hover, input[type='submit']:hover {
  color: var(--btn-text-color);
  background-color: var(--btn-hover-color);
  text-decoration: none;
}
.button.small {
  padding: 5px;
  margin-top: 2px;
  margin-right: 5px;
}
.button.large {
  padding: 15px;
  font-size: 20px;
}

.button-panel {
  background-color: var(--btn-color);
}
.button-panel .button {
  border-radius: 0;
}

a {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: var(--btn-color);
}
a:hover {
  text-decoration: underline;
  color: var(--btn-hover-color)
}

code {
  font-family: monospace;
}

code:not(pre code) {
  font-weight: bold;
  background: var(--code-bkg-color);
  padding: 0.125rem 0.25rem;
  border-radius: 4px;
}

blockquote {
  background: var(--code-bkg-color);
  padding: 10px 30px;
  border-left: 5px solid var(--btn-color);
}

pre.output {
  white-space: pre-wrap;
  word-break: break-all;
}

#navigation-page-container {
  height: 100%;
}

#navigation-page-container > .content {
  overflow: auto;
}

@media (min-width: 1300px) {
  #navigation-bar {
    position: fixed;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  #navigation-page-container {
    display: flex;
  }

  #navigation-page-container > .content {
    flex: 1;
  }
}


@media (max-width: 768px) {
  #navigation-bar {
    position: fixed;
    display: none;
  }

  #navigation-bar.open {
    display: block;
  }

  #navigation-page-container > .hamburger {
    display: block;
  }
}

@media (min-width: 769px) {
  #navigation-page-container > .hamburger {
    display: none;
  }

  .code-comparison {
    display:flex;
    flex-direction:row;
  }

  .code-comparison .sample {
    flex:0 0 47%;
    overflow:hidden;
  }

  .code-comparison .divider {
    flex:0 0 6%;
  }
}


#navigation-bar {
  width: 240px;
  height: 100%;
  border-right: 1px solid rgba(200, 200, 200, 0.5);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  background-color: var(--nav-bkg-color);
}

#navigation-bar a {
  color: var(--text-color);
}

#navigation-bar > .nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navigation-bar > .nav ul {
  padding-left: 20px;
}

#navigation-bar > .nav li {
  padding-top: 2px;
}

#navigation-bar > .nav > li {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}

#navigation-page-container > .hamburger {
  cursor: pointer;
  margin: 20px;
  font-weight: bold;
  font-size: x-large;
  position: fixed;
  right: 0;
}

.tooltip {
  position: absolute;
  z-index: 1;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: max-content;
  background: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

label {
  vertical-align: middle;
}

select {
  margin: 5px;
  padding: 5px;
}
