/* Please see the article */

.code-input {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.code-input .editor {
  flex: 1;
  display: flex;
}

.code-input textarea, .code-input pre.highlighted {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;

  /* Can be scrolled */
  overflow: auto;
  white-space: nowrap; /* Allows textarea to scroll horizontally */
}
.code-input textarea, .code-input pre.highlighted, .code-input pre.highlighted > code, .code-input .line-numbers {
  /* Also add text styles to highlighting tokens */
  font-size: 12pt;
  font-family: monospace;
  line-height: normal;
  tab-size: 9;
}

.code-input textarea {
  /* Move the textarea in front of the result */
  z-index: 1;

  /* Make textarea almost completely transparent */
  color: transparent;
  background: transparent;
  outline: none;
  caret-color: white; /* Or choose your favourite color */
  mix-blend-mode: difference;

  /* No resize on textarea */
  resize: none;
}

.code-input textarea::selection {
  /* Make textarea almost completely transparent */
  color: transparent;
  background-color: rgba(179, 212, 252, 0.3);
  /* background: rgba(100, 100, 100, 0.5); */
  /* background: rgba(100, 100, 100, 0.5); */
}

.code-input pre.highlighted {
  z-index: 0;
  /* In the same place */
  position: absolute;
  top: 0;
  left: 0;
}

.code-input .line-numbers-container {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  overflow: hidden;
}

.code-input .line-numbers {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
  color: #cccccc;
  mix-blend-mode: difference;
}

/* .line-numbers-rows {
  counter-reset: linenumber;
}

.line-numbers-rows span:before {
  content: counter(linenumber);
  counter-increment: linenumber;
  display: inline-block;
  padding-right: 0.8em;
  text-align: right;
  opacity: 0.5;
} */
